/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp TAB &kp Q &kp W &kp E &kp R &kp T &trans
                &kp CTRL_A &kp A &kp S &kp D &kp F &kp G &trans
                &kp SHFT_Z &kp Z &kp X &kp C &kp V &kp B &trans
                &trans &kp GUI &kp LWR &kp SPC &trans &kp ENT &kp RSE &kp ALT
            >;
        };

        lower_layer {
            bindings = <
                &bt BT_CLR &bt BT1 &bt BT2 &bt BT3 &bt BT4 &bt BT5 &trans
                &kp BT_PREV &kp C_PREV &kp C_NEXT &kp C_VOL_DN &kp C_VOL_UP &kp C_PP &trans
                &kp SHFT_Z &trans &trans &trans &trans &trans &trans
                &trans &kp GUI &trans &kp SPC &trans &kp ENT &trans &kp ALT
            >;
        };

        raise_layer {
            bindings = <
                &trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &trans
                &kp CTRL_MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp GRAVE &trans
                &kp CTRL_UNDER &kp PLUS &kp LCBR &kp RCBR &kp PIPE &kp TILDE &trans
                &trans &kp GUI &trans &kp SPC &trans &kp ENT &trans &kp ALT
            >;
        };
    };
};

